* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cursive;
}

body {
    display: flex;
    justify-content: center;  
    align-items: center;  
    height: 100vh;  
    background: #dddddd;
}




.container {
    height: 450px;
    width: 300px;
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 5px 5px 15px 5px #bebebe;
    overflow: hidden;
    transition: 0.3s ease;
    margin: 20px;
}

.container:hover {
    transform: translateY(-10px);
}

.product-img {
    background: url(glass.png);
    width: 100%;
    height: 200px;
    object-fit: cover;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 15px solid #fff;
    border-radius: 15px;
}

h1 {
    padding: 10px;
    color: #3a0000;
}

p {
    padding: 10px;
    margin-top: -20px;
}

 .M2 {
    background: url(bracelet.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.M3 {
    background: url(earings.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media (max-width:892px) {
    .container {
        height: 400px;
        width: 250px;
        margin: 15px;
    }

    .product-img {
        height: 150px;
    }

    h1 {
        font-size: 25px;
    }

    p {
        font-size: 15px;
    }
}

@media (max-width:711px) {
    .container {
        height: 350px;
        width: 300px;
    }

    h1 {
        font-size: 20px;
    }

    p {
        font-size: 12px;
    }
}


@media (max-width: 604px) {

body {
        flex-direction: column;
        justify-content: flex-start; 
        align-items: center;
        height: auto;
        padding-top: 20px;   
    }

.container {
    min-height: 350px;
    width: 300px;
    height: auto;
}


.product-img {

    width: 100%;
    height: 200px;
}

h1 {
   font-size: 25px;

}

p {
    
 font-size: 15px;
}

}
